<!-- header -->
<header class="header">
  <div class="site-navigation wrapper sub-header">
    <a href="{{ shop.url }}" class="site-navigation__logo">Kabawatch</a>
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span id="cart-counter" class="site-navigation__tools__cart__counter">0</span><br>items in cart</div>
      <div class="menu-button js-toggle-menu"><span class="menu-button__icon"></span></div>
    </div>
  </div>
  <div class="shop-filter wrapper sub-header">
    <ul class="shop-filter__categories list--horizontal">
      {% for link in linklists.categories.links %}
        {% assign child_list_handle = link.title | handleize %}
        <li class="shop-filter__categories__item {% if template contains 'collection' and link.title == collection.title %} is-selected {% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
          <span class="shop-filter__categories__item__arrow"></span>
        </li>
      {% endfor %}
    </ul>
    <div class="shop-filter__advanced js-toggle-advanced-filter"><span class="shop-filter__advanced__capitals">Filter</span><br>Advanced</div>
  </div>
</header>

<!-- menu overlay -->
<div class="menu-overlay">
  <div class="site-navigation wrapper sub-header">
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span class="site-navigation__tools__cart__counter">0</span><br>items in cart</div>
      <div class="close-button js-toggle-menu"><span class="close-button__icon"></span></div>
    </div>
  </div>
  <nav class="main-navigation wrapper">
    <ul class="main-navigation__list">
      <li class="main-navigation__list__item"><a href="index.html">Shop</a></li>
      <li class="main-navigation__list__item"><a href="about.html">About</a></li>
      <li class="main-navigation__list__item"><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>

<!-- cart overlay -->
<div class="cart-overlay">
  <div class="cart-overlay__top-bar wrapper">
    <a href="index.html" class="site-navigation__logo">Kabawatch</a>
    <div class="site-navigation__tools">
      <div class="site-navigation__tools__cart js-toggle-cart-overlay"><span id="cart-counter" class="site-navigation__tools__cart__counter">0</span><br>items in cart</div>
      <div class="close-button js-toggle-cart-overlay"><span class="close-button__icon"></span></div>
    </div>
  </div>
  <section class="cart">
    <h1>Your cart</h1>
    <ul class="cart__list">
      <li class="cart__list__item">
        <div class="cart__list__item__visual">
          <img class="cart__list__item__visual__img" src="assets/img/watch.jpeg"/>
        </div>
        <div class="cart__list__item__text">
          <h2>Sjieke naam</h2>
          <h3>$wag merk</h3>
          <h4>€ 9999</h4>
        </div>
      </li>
      <li class="cart__list__item">
        <div class="cart__list__item__visual">
          <img class="cart__list__item__visual__img" src="assets/img/watch.jpeg"/>
        </div>
        <div class="cart__list__item__text">
          <h2>Sjieke naam</h2>
          <h3>$wag merk</h3>
          <h4>€ 9999</h4>
        </div>
      </li>
    </ul>
    <div class="bottom-bar">
      <div class="cart__sub-total">
        <h2 class="cart__sub-total__title">Subtotal</h2><h2 class="cart__sub-total__number">€ 19998</h2>
      </div>
      <div class="input-submit wrapper">
        <input class="cta" type="submit" value="Check out">
      </div>
    </div>
  </section>
</div>

<!-- filter overlay -->
<div class="advanced-filter-overlay">
  <div class="advanced-filter-overlay__top-bar">
    <div class="close-button js-toggle-advanced-filter"><span class="close-button__icon"></span></div>
  </div>
  <div class="advanced-filter-overlay__filters">
    <form class="form">
      <div class="parameters-group wrapper">
        <div class="input-group">
          <select name="brands">
            <option disabled selected value>Brand</option>
            <option value="brand1">Sjiek Merk</option>
            <option value="brand2">Heel Sjiek Merk</option>
            <option value="brand3">Wajow zo sjiek</option>
            <option value="brand4">Super Sjiek</option>
          </select>
        </div>
        <div class="input-group">
          <select name="lines">
            <option disabled selected value>Line</option>
            <option value="line1">Lange lijn</option>
            <option value="line2">Korte lijn</option>
            <option value="line3">Dikke lijn</option>
            <option value="line4">Scheve lijn</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
        <div class="input-group">
          <select name="year">
            <option disabled selected value>Year</option>
            <option value="1980">1980</option>
            <option value="1981">1981</option>
            <option value="1982">1982</option>
            <option value="1983">1983</option>
          </select>
        </div>
      </div>
      <div class="input-submit wrapper">
        <input class="cta" type="submit" value="Apply parameters">
      </div>
    </form>
  </div>
</div>
